body {
    margin: 10px 15% 0 15%;
}
button {
    padding: 0;
    border: none;
    background: none;
    margin-left: 10px;
    font-size: 15px;
}
button > p {
    margin: 7px 40px 0 10px;
}
nav {
    margin: 0 10px 0 10px;
    width: 100%;
    padding: 10px;
}

nav::after {
    display: block;
}

.logo {
    margin-right: auto;
    float: left;
}

.main_nav {
    margin-left: auto;
    float: left;
    display: inline-block;
}

.nav_box {
    text-align: center;
    margin-top: 15px;
    margin-left: 20%;
}

.item_box  {
    float: right;
    margin-right: auto;
}

.item_box > img {
    width: 24px;
    height: 24px;
    margin-left: 25px;
    margin-top : 7px;
}

a {
    color: black;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0 10%;
    padding: 0px;
}

li {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 15px;
}

.main_nav a {
    display: block;
    background-color: #ffffff;
    padding: 8px;
    margin-left: 15px;
}

.drop_list1 {
    display: none;
    position: absolute;
    width: 300px;
    height: 50px;
    margin-top: 10px;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 30px;
}

.drop_list2 {
    display: none;
    position: absolute;
    width: 160px;
    height: 50px;
    margin-top: 10px;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 30px;
}

.drop_list3 {
    display: none;
    position: absolute;
    width: 240px;
    height: 50px;
    margin-top: 10px;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 30px;
}

.main_nav>ul>div:not(.drop_list3)>li>a{
    color: black;
    padding-left: 8px;
    float: left;
    text-decoration: none;
    display: block;
}

.drop_list3>li>a{
    color: black;
    font-size: 10px;
    padding: 2% 0 0 0;
    float: left;
    text-decoration: none;
    display: block;
}


.show {display:block;}

@media (max-width : 1255px) {
    body {
        margin: 10px 10% 0 10%;
    }
    .nav_box {
        text-align: center;
        margin-left: 12%;
    }
}
section {
    margin: 100px;
}